# The sACN build and test pipeline.

trigger:
- develop
- master
- release/*
- refs/tags/v*.*.*.*

pr:
- develop

variables:
  sacn_cmake_options: -DSACN_BUILD_TESTS=ON -DSACN_BUILD_EXAMPLES=ON

stages:
- stage: build_and_test
  displayName: 'Build and Test sACN'
  jobs:
  # Build and test sACN on Windows using CMake and Visual Studio 2019.
  - job: windows_build
    displayName: 'Windows'
    pool:
      vmImage: 'windows-2019'
    variables:
      cmake_generator: 'Visual Studio 16 2019'
    steps:
    - script: |
        mkdir build
        cd build
        cmake --version
        cmake -G "$(cmake_generator)" -A x64 $(sacn_cmake_options) ..
      displayName: 'Configure Project'
    - task: VSBuild@1
      displayName: 'Build Project'
      inputs:
        solution: $(Build.SourcesDirectory)\build\sACN.sln
        configuration: Release
    - script: |
        cd build
        ctest -C Release -T Test --output-on-failure
      displayName: 'Run Tests'
    - task: PublishTestResults@2
      displayName: 'Publish Test Results'
      inputs:
        testResultsFormat: 'CTest'
        testResultsFiles: '**/Test.xml'
        testRunTitle: 'Windows x64'
        failTaskOnFailedTests: true
  - job: macos_build
    displayName: 'macOS'
    pool:
      vmImage: 'macos-latest'
    steps:
    - script: |
        mkdir build
        cd build
        cmake --version
        cmake $(sacn_cmake_options) ..
        cmake --build .
      displayName: 'Configure and Build Project'
    - script: |
        cd build
        ctest -T Test --output-on-failure
      displayName: 'Run Tests'
    - task: PublishTestResults@2
      displayName: 'Publish Test Results'
      inputs:
        testResultsFormat: 'CTest'
        testResultsFiles: '**/Test.xml'
        testRunTitle: 'macOS'
        failTaskOnFailedTests: true
  - job: linux_build
    displayName: 'Linux'
    pool:
      # TODO change to ubuntu-latest when this issue is fixed:
      # https://github.com/microsoft/azure-pipelines-image-generation/issues/1379
      vmImage: 'ubuntu-18.04'
    variables:
      cmake_generator: 'Unix Makefiles'
    steps:
    - script: |
        sudo apt-get update
        sudo apt-get install uuid-dev
        mkdir build
        cd build
        cmake --version
        cmake -G "$(cmake_generator)" $(sacn_cmake_options) ..
        cmake --build .
      displayName: 'Configure and Build Project'
    - script: |
        cd build
        ctest -T Test --output-on-failure
      displayName: 'Run Tests'
    - task: PublishTestResults@2
      displayName: 'Publish Test Results'
      inputs:
        testResultsFormat: 'CTest'
        testResultsFiles: '**/Test.xml'
        testRunTitle: 'Linux'
        failTaskOnFailedTests: true
  # Generate documentation with doxygen. Documentation is generated from the
  # develop branch and posted to the 'head' portion of the Github page
  # (etclabs.github.io/sACN)
  - job: docs
    displayName: 'Deploy Documentation'
    condition: or(eq(variables['Build.SourceBranch'], 'refs/heads/develop'), startsWith(variables['Build.SourceBranch'], 'refs/pull'))
    pool:
      # TODO change to ubuntu-latest when this issue is fixed:
      # https://github.com/microsoft/azure-pipelines-image-generation/issues/1379
      vmImage: 'ubuntu-18.04'
    variables: 
    - group: github-push-access
    steps:
    - script: sudo apt-get install doxygen
      displayName: 'Install Dependencies'
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.x'
        addToPath: true
    - task: ShellScript@2
      inputs:
        scriptPath: 'tools/ci/publish_docs.sh'
        failOnStandardError: false
      displayName: 'Generate and Push Documentation'
      env:
        GH_REPO_NAME: sACN
        GH_REPO_REF: github.com/ETCLabs/sACN.git
        GH_REPO_TOKEN: $(GH_ACCESS_TOKEN)
    
- stage: deploy
  displayName: 'Deploy Build Artifacts'
  condition: and(succeeded('build_and_test'), startsWith(variables['Build.SourceBranch'], 'refs/tags/'))
  jobs:
  - job: create_build_report
    displayName: 'Create Jira Build Report'
    pool:
      vmImage: 'ubuntu-latest'
    variables:
    - group: etc_jira
    steps:
    - task: UsePythonVersion@0
      displayName: 'Select Python Version'
      inputs:
        versionSpec: '3.x'
        addToPath: true
    - script: |
        python -m pip install requests
        python tools/ci/create_build_report.py
      displayName: 'Run Create Build Report Script'
      env:
        BUILDNETWORKING_PASSWORD: $(buildnetworking_password)
