version: '3'
services:
  clang-cmake-msan:
    image: etc-docker.artifactory.etcconnect.com/etc/common-tech/clang-cmake-msan:latest
    volumes:
      # Mount the root folder that contains .git
      - .:/sacn:cached
    command: sleep infinity

  gcc-cmake:
    image: etc-docker.artifactory.etcconnect.com/etc/common-tech/gcc-cmake:llvm18
    volumes:
      # Mount the root folder that contains .git
      - .:/sacn:cached
    command: sleep infinity

  doxygen:
    image: etc-docker.artifactory.etcconnect.com/etc/common-tech/doxygen:1.11.0
    volumes:
      # Mount the root folder that contains .git
      - .:/sacn:cached
    command: sleep infinity

  klocwork:
    image: etc-docker.artifactory.etcconnect.com/etc/common-tech/klocwork:latest
    volumes:
      # Mount the root folder that contains .git
      - .:/sacn:cached
    command: sleep infinity
